{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">¡Bienvenido!</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, ratione similique temporibus necessitatibus autem id voluptatem perspiciatis, placeat dolorem laboriosam laborum itaque, voluptate hic labore neque? Provident cumque laboriosam placeat ipsa soluta explicabo, eius unde ea voluptate, facere perferendis neque. Quos rem minus debitis deleniti perferendis impedit eos ab. Ea debitis magnam maxime! Veniam deleniti quaerat, voluptates veritatis voluptatum odit expedita cum dolor a, amet sunt consectetur ipsam doloremque sequi, vero aspernatur ullam ut provident. Repellat qui enim temporibus debitis deserunt sint dignissimos minima quo iste? Unde autem accusantium nemo laudantium eum optio voluptas. Nesciunt eos iure voluptas voluptates deleniti?
        </p>

        <div class="text-center">
            <a class="btn btn-secundary" href="/signin/">Iniciar sesión</a>
            <a class="btn btn-dark" href="/signup/">Registrarse</a>
        </div>
    </section>
</main>

{% endblock %}
